/**
 * reset.css
 * Reset Browser-Standard Settings
 */

body,p,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

p {
    padding: 10px 0;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    color: #000000;
}