<header>
    <h1>Habito</h1>
    <p>≡</p>
</header>
<nav>
    <ul>
        <li><a href="dashboard.html">Login</a></li>
        <li><a href="#">Register</a></li>
    </ul>
</nav>
<main class="fullscreen">
    <div class="shade-filter">
    <section>
    <h2 class="catch-copy">
        <span>Habito</span> Make<br>
          Your Lifestyle Better</h2>
    <p class='meigen'>
        思考に気をつけなさい、それはいつか言葉になるから。<br>
        言葉に気をつけなさい、それはいつか行動になるから。<br>
        行動に気をつけなさい、それはいつか習慣になるから。<br>
        習慣に気をつけなさい、それはいつか性格になるから。<br>
        性格に気をつけなさい、それはいつか運命になるから。<br>
        - マザー・テレサ
    </p>
    </section>
    <section>
    <h2>Habitoとは</h2>
    <p>HABITOは、日常生活における行動の習慣化フレームワークです。</p>
    <p>
        あなたはどんな習慣を持っていますか？
        朝起きて、ランニングしたり。
        通勤時間に、本を読んだり。
        仕事終わりに、ジムで体を鍛えたり。
    </p>
    <p>
        良い習慣は、良い人生を作ります。
        三日坊主という言葉もあるように、
        成果が感じられずに諦めてしまうことも、
        誰もが経験したことがあるでしょう。  
    </p>
    <p>
        習慣にしてしまえば、
        考えることなく豊かな人生になるかもしれないのに…。
        自分の取り入れたい習慣を高速で
        自分のものにすることができないか。
    </p>
    <p>
        Habitoを使えば目標を達成するための習慣を身につけることができます。
        Habitoであなたの成し遂げたい目標ライフスタイルを作り上げましょう！       
    </p>   
    <a class="button-try" href="#">Try now!</a>
    </section> 
    </div>
</main>
<footer>
    <p class="copyright">copyright &copy; 2018 Insocie LLC, All rights received.</p>
</footer>